html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, sans-serif, arial;
    padding: 50px;
    grid-template-columns: 40% 60%;
    grid-gap: 0 20px;
  }
  
  #xmlCarga {
    align-items: center;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;

    width: 500px;
    max-width: 100%;
    margin:auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  #xmlCarga input {
    display: none;
  }
  
  #xmlCarga label {
    background-color: #00AF3F;
    border-radius: 25px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
  }
  
  #respuesta {
    border-collapse: collapse; 
    /* border: 1px solid #e5e5e5; */
    
    width: 500px;
    max-width: 100%;
    margin:auto;
    margin-top: 30px;
    padding: 20px;
    /* box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3); */
    position: relative;
  }
  
  #respuesta td,
  #respuesta th {
    color: #444;
    font-size: 14px;
    padding: 15px 15px;
  }
  
  #respuesta thead {
    border-bottom: 2px solid #ddd;
  }
  
  #respuesta thead th {
    background-color: #f5f5f5;
  }
  
  #respuesta tbody {
    padding: 10px;
  }
  
  #respuesta tbody tr:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  
  #respuesta tbody td:not(:last-child) {
    border-right: 1px solid #eee;
  }
